@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

@custom-variant dark (&:is(.dark, .dark *));/* Define a custom dark variant for Tailwind CSS */

*{
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  cursor: none;
}

/*@theme is a tailwindcss plugin that allows you to customize the theme of your project*/
  @theme{
  --color-primary: #5044e5;
}